body{
    background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2806956/starwarsbackground.JPG");
}

img{
    height:45px;
    width:90px;
    margin:5px;
}

#attacker,#defenders,#charactersSelection,#defender{

}

.gameLabel, #message{
    color:white;
    margin:5px;
}

.row{

    height:130px
}

#fightButton{
    width:50px;
    height:25px;
    margin: 5px;
    align-content: center;
    font-size: small;
}

.card{
    display: inline-block;
    margin: 5px;
    height: 60px;

}

.card:hover{
    background-color: cornflowerblue;
}
.card-title{
    font-size: small;
    color: white;
}